quarkus:
  http:
    port: 9080
    ssl:
      certificate:
        files:
          - META-INF/resources/cert.pem
        key-files:
          - META-INF/resources/cert-key.pem
    http2: true
    ssl-port: 9443
    host: 0.0.0.0
    read-timeout: 600s
  datasource:
    db-kind: h2
    jdbc:
      url: jdbc:h2:./target/output/myDb
  hibernate-orm:
    log:
      sql: true
    database:
      generation: update
  shutdown:
    timeout: 1
