quarkus:
  arc:
    remove-unused-beans: none #fix removing unused beans and remove this annotations
  http:
    port: 9080
    ssl:
      certificate:
        files:
          - META-INF/resources/cert.pem
        key-files:
          - META-INF/resources/cert-key.pem
    http2: true
    ssl-port: 9443
    host: 0.0.0.0
  datasource:
    db-kind: postgresql
    username: postgres
    password: postgres
    reactive:
      url: postgresql://localhost:5432/hpc-datastore
  hibernate-orm:
    log:
    #sql: true
    database:
      generation: drop-and-create
  shutdown:
    timeout: 1
